
  <input  
  type="text" 
  id="text"
  placeholder="Search..."
  #query
  (keyup)="Filter(query.value)"
>  
<button 
  (click)="saveForLater(query.value)"
  class="btn btn-secondary">
  SaveForLater 
</button>
<button
(click) ="goto()"
class="btn btn-primary add">
Add New Customer
</button>
<table class="table">
    <thead>
      <tr>
        <th></th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Mobile No.</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <div *ngIf="check===0">
        <tr *ngFor="let c of allCustomers">
            <td class="">{{c.profileImage}}</td>
            <td class="">{{c.firstName}}</td>
            <td class="">{{c.lastName}}</td>
            <td class="">{{c.address}}</td>
            <td class="">{{c.city}}</td>
            <td class="">{{c.state}}</td>
            <td class="">{{c.phoneNumber}}</td>
            <td class="">{{c.email}}</td>
            <td>
            <a 
            [routerLink]="['/newcustomer/',c.key]">
            Edit
            </a>
            <a 
              href="#"
              (click) ="delete(c.key)">
              Delete
            </a>
            </td>
        </tr>
        </div>
    </tbody>
  </table>